<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>02731AF91F6E3860008A6BF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02731B0D1F6E3860008A6BF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02731B181F6E3860008A6BF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
